@model MovieRentalApp.Models.Movie
@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.IsNew == false)
{
	<h2>Edit Movie</h2>
}
else
{
	<h2>Create Movie</h2>
}

@using (Html.BeginForm("Create", "Movie"))
{
	<div class="form-group">
		@Html.LabelFor(m => m.MovieName, "Name")
		@Html.TextBoxFor(m => m.MovieName, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.MovieName, "", new { @style = "color:red" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.RealeseDate, "Realese Date")
		@Html.TextBoxFor(m => m.RealeseDate, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.RealeseDate, "", new { @style = "color:red" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.GenreId, "Genre")
		@Html.DropDownList("GenreId", null, "--Select Genre--", new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.GenreId, "", new { @style = "color:red" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.NumberInStock, "Number In Stock")
		@Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.NumberInStock, "", new { @style = "color:red" })
	</div>
	@Html.HiddenFor(m => m.id)
	@Html.AntiForgeryToken()
	<button type="submit" class="btn btn-primary">Save</button>
}

