@model MovieRentalApp.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie</h2>

<h1>@Model.MovieName</h1>
<ul>
	<li>
		Genre: @Model.Genre.GenreName
	</li>
	<li>
		Realese Date : @Model.RealeseDate.ToLongDateString()
	</li>
	<li>
		Added Time : @Model.AddTime.ToLongDateString()
	</li>
	<li>
		Stock Available: @Model.NumberInStock
	</li>
</ul>




