@model movierApp.Models.RegisterViewModel
@{
	ViewBag.Title = "Register";
}


@*<section class="w3l-forms-main-61">
	<div class="form-bg-blur">
		@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			<h4>Create a new account.</h4>
			<hr />
			@Html.ValidationSummary("", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.DrivingLicense, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.TextBoxFor(m => m.DrivingLicense, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" class="btn btn-default" value="Register" />
				</div>
			</div>
		}
	</div>
</section>*@
<section class="w3l-forms-main-61">
	<section class="w3l-forms-main-61">
		<div class="form-inner">
			<div class="wrapper">
				<div class="d-grid top-form">
					<div class="logo">
						<a class="brand-logo" href="/Home/Index"/><span> Sign up </a>
						<!-- if logo is image enable this
						<a class="brand-logo" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
					</div>
				</div>
				<div class="form-bg-blur">
					<div class="form-61 form-register">
						<h4 class="form-head">Create New Account</h4>

						@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
						{
							@Html.AntiForgeryToken()
							
							<hr />
							@Html.ValidationSummary("", new { @class = "text-danger" })
							<div class="form-group">
								@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label",styles = "text-color:red"  })
								<div class="col-md-10">
									@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
								<div class="col-md-10">
									@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
								<div class="col-md-10">
									@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(m => m.DrivingLicense, new { @class = "col-md-2 control-label" })
								<div class="col-md-10">
									@Html.TextBoxFor(m => m.DrivingLicense, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
								<div class="col-md-10">
									@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<input type="submit" class="btn btn-default" value="Register" />
								</div>
							</div>
						}
					</div>
				</div>
				<!-- <div class="go-to-home text-center">
					<p>Already have an account? <a class="btn" href="login.html"> Signin </a></p>
				</div> -->
			</div>
			
		</div>
	</section>
	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
