<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link href="~/Login_v5/css/main.css" rel="stylesheet" />
	<link href="~/Login_v5/css/util.css" rel="stylesheet" />
	<script src="~/Login_v5/js/main.js"></script>
	@*<link href="~/HomeTheme/css/bootstrap.css" rel="stylesheet" />*@
	<link href="~/HomeTheme/css/font-awesome.css" rel="stylesheet" />
	<link href="~/HomeTheme/css/style.css" rel="stylesheet" />

	@*<a href="~/HomeTheme/fonts/fontawesome-webfont.eot">~/HomeTheme/fonts/fontawesome-webfont.eot</a>
	<img src="~/HomeTheme/fonts/fontawesome-webfont.svg" />
	<a href="~/HomeTheme/fonts/fontawesome-webfont.ttf">~/HomeTheme/fonts/fontawesome-webfont.ttf</a>
	<a href="~/HomeTheme/fonts/fontawesome-webfont.woff">~/HomeTheme/fonts/fontawesome-webfont.woff</a>
	<a href="~/HomeTheme/fonts/fontawesome-webfont.woff2">~/HomeTheme/fonts/fontawesome-webfont.woff2</a>
	<a href="~/HomeTheme/fonts/FontAwesome.otf">~/HomeTheme/fonts/FontAwesome.otf</a>*@
	@*	<link href="~/HomeTheme/css/bootstrap.min.css" rel="stylesheet" />*@

	@*<!--===============================================================================================-->
		<link rel="icon" type="image/png" href="Login_v5/images/icons/favicon.ico" />
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="Login_v5/vendor/bootstrap/css/bootstrap.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="Login_v5/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="Login_v5/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="Login_v5/vendor/animate/animate.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="Login_v5/vendor/css-hamburgers/hamburgers.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="Login_v5/vendor/animsition/css/animsition.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="Login_v5/vendor/select2/select2.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="Login_v5/vendor/daterangepicker/daterangepicker.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="Login_v5/css/util.css">
		<link rel="stylesheet" type="text/css" href="Login_v5/css/main.css">
		<!--===============================================================================================-->*@
</head>
<body>
   @Html.Partial("_NavBar")
    <div class="container body-content"style="background-image: url('../../Login_v5/images/bg-01.jpg');">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mushfiqur Rahman Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
  
    @RenderSection("scripts", required: false)
</body>
</html>
